<div class="w-full h-full p-8 grid grid-cols-7 grid-rows-4 gap-8">

  <!-- daily intakes and all exercises -->
  <div class="rounded-lg p-2 col-span-3 row-span-2">
    <%= render partial: 'daily_intakes/daily_intakes', locals: { intakes: @intakes} %>
  </div>

  <!-- Schedules -->
  <div class="p-2 rounded-lg col-span-4 row-span-2 gap-3">
    <%= render partial: 'exercise_schedules/dashboard', locals: { schedules: @schedules} %>
  </div>

  <!-- tables -->
  <div class="p-2 flex flex-col col-span-7 row-span-2 gap-4">
    <%= render partial: 'timed_exercises/table', locals: { timed_exercises: @timed_exercises } %>
  </div>
</div>
