<div
  class="w-full h-full p-8 grid grid-cols-7 grid-rows-3 gap-8"
>
  <!-- daily goals -->
  <div class="bg-green-200 p-2 rounded-lg col-span-4 row-span-1">
    <div class="flex gap-5 items-center">
      <%= link_to "Schedules", meals_path, class: 'font-semibold text-2xl text-green-800 hover:underline decoration-2' %>
      <button class="bg-green-500 text-white font-bold text-lg p-2 rounded-md">
        + Exercise
      </button>
    </div>
  </div>

  <!-- stats -->
  <div class="rounded-lg p-2 col-span-3 row-span-1 flex flex-col gap-3">
    <div class="flex gap-5 items-center justify-between">
      <%= link_to "Daily Intakes", meals_path, class: 'font-semibold text-2xl text-green-800 hover:underline decoration-2' %>
      <div class="flex gap-3">
        <button class="bg-green-500 text-white font-bold text-lg p-2 rounded-md">
          + Food
        </button>
        <button class="bg-green-500 text-white font-bold text-lg p-2 rounded-md">
          + Meal
        </button>
      </div>
    </div>
    <div class="flex-1 w-full rounded-xl p-4 bg-green-100">
      <div class="w-full h-full bg-green-500 grid grid-cols-4 gap-0.5 ">
        <div class="bg-green-100 flex flex-col justify-center gap-2 px-4">
          <p class="text-xl font-light text-gray-600">Calories</p>
          <p class="text-4xl font-black">2.1k</p>
          <p class="text-md text-gray-700">18% more than yesterday</p>
        </div>
        <div class="bg-green-100 flex flex-col justify-center gap-2 px-4">
          <p class="text-xl font-light text-gray-600">Carbohydrates</p>
          <p class="text-4xl font-black">900</p>
          <p class="text-md text-gray-700">2% less than yesterday</p>
        </div>
        <div class="bg-green-100 flex flex-col justify-center gap-2 px-4">
          <p class="text-xl font-light text-gray-600">Fats</p>
          <p class="text-4xl font-black">97(g)</p>
          <p class="text-md text-gray-700">10% more than yesterday</p>
        </div>
        <div class="bg-green-100 flex flex-col justify-center gap-2 px-4">
          <p class="text-xl font-light text-gray-600">Protein</p>
          <p class="text-4xl font-black">56(g)</p>
          <p class="text-md text-gray-700">30% more than yesterday</p>
        </div>
      </div>
    </div>
  </div>

  <!-- tables -->
  <div class="p-2 flex flex-col col-span-7 row-span-2 gap-4">
    <%= render partial: 'timed_exercises/table', locals: { timed_exercises: @timed_exercises } %>
  </div>
</div>
