<div
  class="w-full h-full p-8 grid grid-cols-[auto_650px] grid-rows-[250px_550px] gap-8"
>
  <!-- daily goals -->
  <div class="bg-green-200 p-2 rounded-lg">
    <div class="flex gap-5 items-center">
      <p class="font-semibold text-2xl text-green-800">Goals</p>
      <button class="bg-green-500 text-white font-bold text-lg p-2 rounded-md">
        + Set Goal
      </button>
    </div>
  </div>

  <!-- stats -->
  <div class="bg-green-200 rounded-lg p-2">
    <p class="font-semibold text-2xl text-green-800">My Stats</p>
  </div>

  <!-- foods intake -->
  <div class="p-2 flex flex-col gap-5 w-full">
    <div class="flex gap-5 items-center">
      <p class="font-semibold text-2xl text-green-800">Food Intakes</p>
      <button class="bg-green-500 text-white font-bold text-lg p-2 rounded-md">
        + Add Food Intake
      </button>
    </div>

    <div class="grid grid-cols-4 auto-rows-min overflow-y-auto h-full gap-5 p-2">
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
      <!-- food card -->
      <div class="flex flex-col gap-3 shadow-lg rounded-xl p-7">
        <div
          class="bg-green-200 rounded-full h-32 flex items-center justify-center"
        >
          Image of a salad
        </div>
        <div class="flex-1">
          <div class="flex justify-between items-center">
            <p class="font-bold text-xl">Fruit Salad</p>
            <p class="text-md font-light">1h ago</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="font-semi text-lg">Calories:</p>
            <p class="text-md font-light">69</p>
          </div>
          <p class="font-semi text-lg">Nutrients:</p>
          <div class="flex gap-1 text-white flex-wrap">
            <span class="px-2 bg-blue-400 rounded-xl">Calcium</span>
            <span class="px-2 bg-cyan-400 rounded-xl">Vitamin C</span>
            <span class="px-2 bg-red-400 rounded-xl">Iron</span>
            <span class="px-2 bg-purple-400 rounded-xl">Vitamin A</span>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- exercises -->
  <div class="p-2 flex flex-col">
    <div class="flex gap-5 items-center">
      <p class="font-semibold text-2xl text-green-800">Recent Exercises</p>
      <button class="bg-green-500 text-white font-bold text-lg p-2 rounded-md">
        + Add Exercise
      </button>
    </div>
    <ul class="flex flex-col mt-10 flex-1 overflow-y-auto gap-5">
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
      <li class="flex px-2 justify-between items-center align-middle">
        <div class="h-10 w-10 bg-green-300 rounded-md">
          
        </div>
        <p class="font-bold text-xl">Jogging</p>
        <p class="font-medium text-lg underline">Cardio</p>
        <p class="font-light text-xl">10km</p>
        <p class="font-light text-xl">30mins</p>
        <p class="font-light text-xl">1 day ago</p>
      </li>
      
    </ul>
  </div>
</div>
