<div class="flex flex-wrap gap-4 justify-center items-center mt-8 px-4">
  <div>
    <div class="font-bold text-5xl lg:text-7xl my-8">
      <p>Improve your Health</p>
      <p>With <span class='text-green-500'>Healthier</span></p>
    </div>
    <div class="text-2xl">
      <p>Get motivation and tips through our social feature and</p>
      <p>keep track of your health with our health tracker.</p>
    </div>
  </div>
  <div><%= image_tag 'home_page.svg' %></div>
</div>
