<table>
    <thead>
        <tr>
            <th>REPORTER</th>
            <th>REPORTED</th>
            <th>REASON</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @userreports.each do |userrepport|%>
            <tr>
                <td><%= userrepport.user_id%></td>
                <td><%= userrepport.reported_id%></td>
                <td><%= userrepport.reason%></td>
                <td class="center">
                    <%= link_to ' Show', admin_userreport_path(userrepport)%>
                </td>
            </tr>
        <%end%>
    </tbody>
    <tfoot>
    
    </tfoot>
</table>