<h3>Hello <%= @reported_user.email%>!</h3>

<p>
  It looks like someone has report you for violating our COMMUNITY STANDARD. 
  Please avoid posting or sharing of post that attack people based on their 
  race, ethnicity, national origin, religious affiliation.sexual orientation, 
  gender or disability.
</p>
