<div class="flex flex-col col-start-1 col-end-4">
  <div class="flex-1 p-4 bg-gray-200 text-gray-900 rounded-t-full rounded-br-full">
    What's up yo!
  </div>
  <div class="font-sm text-gray-600 flex gap-2">
    <p>Aug, 2, 2022, 3:59PM </p>
    <span>seen</span>
  </div>
</div>