<div class="flex gap-2 hover:bg-gray-100 cursor-pointer p-4 bg-green-100">
  <div class="h-12 w-12 bg-green-200 rounded-full"></div>
  <div class="flex flex-col">
    <div class="flex gap-2">
      <h4 class="font-bold">Danica</h4>
        <p class="font-light">Aug 2</p>
    </div>
    <p class="font-light">This is a recent message</p>
  </div>
</div>