<div class="w-full h-full grid grid-cols-5 grid-rows-1 max-h-max">
  <div class="col-start-2 col-end-4 flex flex-col border-x border-gray-400 overflow-y-auto">
    <div class="p-4 border-b border-gray-300">
      <h3 class="text-xl font-bold">Notifications</h3>
    </div>
    <div class="flex-1">
      <%= render partial: 'notifications/unread_notification', collection: @unread_notifications, as: :notification %>
      <%= render partial: 'notifications/read_notification', collection: @read_notifications, as: :notification %>
    </div>
  </div>
</div>
