<div class="absolute right-2 -bottom-12 z-30 animate-flash" 
     data-controller="vanish"
     data-action="animationend->vanish#remove">

   <% if alert %>
     <p class="text-xl p-1 px-2 rounded-xl bg-red-500 font-light text-gray-50 flex gap-2 items-center">
       <%= embedded_svg 'icons/error.svg' %> 
       <%= alert %>
     </p>
   <% end %>
   
   <% if notice %>
     <p class="text-xl p-1 px-2 rounded-xl bg-blue-500 font-light text-gray-50 flex gap-2 items-center">
       <%= embedded_svg 'icons/info.svg' %> 
       <%= notice %>
     </p>
   <% end %>
</div>
