<% if current_user.permit_calendar? %>
    <div class="flex w-full p-2 justify-between px-4 items-center">
      <%= link_to "Schedules", meals_path, class: 'font-semibold text-2xl text-green-800 hover:underline decoration-2' %>
        <%= link_to '+ Schedule',
                    new_exercise_schedule_path,
                    data: { turbo_frame: 'second-modal'},
                    class: 'bg-green-500 text-white font-bold text-lg p-2 rounded-md' %>
    </div>
    <div class="h-full w-full grid grid-cols-2 place-items-center">
    <div id="calendar" data-controller="calendar"></div>

    <%= turbo_frame_tag 'preview', class: 'w-full h-full' do %>
    <% end %>

    </div>
  
  <% else %>
    <div class="w-full h-full grid place-items-center px-28">
      <div class="flex flex-col gap-2 items-center text-center">
        <p class="text-2xl font-semibold"> To access the your routines schedules, it is required to integrate your Google Calendar. </p>
        <%= button_to "Connect To Google Calendar", '/auth/google', data: {turbo: false},
            class: "px-8 rounded-full border border-blue-500 text-blue-500 text-xl text-center py-2 uppercase font-medium" %>
      </div>
    </div>
<% end %> 
