<% @posts.each do |post|%>
    <p><h1><%= post.user.username%></h1><%= post.body%></p>
    <% if post.images.attached?%>
        <% post.images.each do |image|%>
            <p><%= image_tag image.images, width: "200px"%></p>
        <%end%>
    <%end%>
<%end%>