<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p><%= @post.body%></p>
<% if @post.images.attached?%>
    <% @post.images.each do |image|%>
        <p><%= image_tag image, width: "200px"%></p>
    <%end%>
<%end%>
