<h1>Exercise Category</h1>

<p><b>Category:</b> <%= @category.name%></p>
<p><b>Description:</b> <%= @category.description%></p>
<%= link_to "Update", edit_category_path(@category)%>
<%= button_to "Delete", category_path(@category), method: :delete %>
